<div class="container">
    <div class="col"></div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form #Form="ngForm">
                    <div class="row">
                        <div class="col" id="head">
                            <h3>Student EDIT infomation</h3>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label style="color: coral;">First Name</mat-label>
                                <input matInput #input [(ngModel)]="Selected.sfirstname" name="sfirstname">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label style="color: coral;">Last Name</mat-label>
                                <input matInput name="slastname" #input [(ngModel)]="Selected.slastname">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Telephone</mat-label>
                                <input matInput name="stelephone" [(ngModel)]="Selected.stelephone">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Gender</mat-label>
                                <mat-select [(ngModel)]="Selected.sgender" name="sgender" [value]="Selected.sgender">
                                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                        {{gender.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field style="width: 95%;">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Input address" [(ngModel)]="Selected.saddress" name="saddress">
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button mat-raised-button color="primary" (click)="Submitupdate(Form)">Comfirm</button>
                            <button mat-raised-button color="warn" routerLink="/student/view" class="float-right" style="margin-right: 5%;">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>