<!-- cid:String;
    csubject:String;
    cstudent:String[];
    cidstudent:String[];
    csexstudent:String[];
    ctelephonestudent:String[];
    cteachername:String;
    cteachertelephone:String; -->
<div class="container">
    <div class="col"></div>
    <div class="col" style="width: 100%;">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <h3 style="text-align: center; color: cornflowerblue;">CREATE CLASS INFO</h3>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Subject</mat-label>
                                <input matInput placeholder="Input Subject">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>TEACHER NAME</mat-label>
                                <mat-select (selectionChange)="autocomplete($event)" name="tname">
                                    <mat-option *ngFor="let getteacher of getteachers" [value]="getteacher._id">
                                        {{getteacher.tname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>TEACHER TELEPHONE</mat-label>
                                <input readonly matInput placeholder="Input teacher telephone" [value]="tphone">
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <p>Select Student First name to add in class</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Student firstName</mat-label>
                                <mat-select (selectionChange)="secondAutocomplete($event)" name="sname">
                                    <mat-option *ngFor="let getstudent of getstudents" [value]="getstudent._id">
                                        {{getstudent.sfirstname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Student LastName</mat-label>
                                <input readonly matInput placeholder="Input teacher telephone" [value]="slastname">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="id_width">
                                <mat-label>ID Student</mat-label>
                                <input readonly matInput placeholder="Input ID student" [value]="studentid">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Gender</mat-label>
                                <input readonly matInput placeholder="Select Gender" [value]="sgender">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Student Telephone</mat-label>
                                <input readonly matInput placeholder="Input Subject" [value]="telephone">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button mat-raised-button color="primary">Comfirm</button>
                            <button mat-stroked-button color="accent" style="margin-left: 5%;" (click)="addstudentintable()">ADD Student</button>
                            <button mat-raised-button color="warn" class="float-right">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <div class="col"></div>
</div>