<div class="col"></div>
<div class="col">
    <div class="container">
        <div class="container-body">
            <button mat-raised-button color="primary" class="float-right" routerLink="/student/create">ADD Student</button>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="firstname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
                        <td mat-cell *matCellDef="let row"> {{row.sfirstname}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="lastname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
                        <td mat-cell *matCellDef="let row"> {{row.slastname}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                        <td mat-cell *matCellDef="let row"> {{row.sgender}} </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="telephone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone </th>
                        <td mat-cell *matCellDef="let row"> {{row.stelephone}} </td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                        <td mat-cell *matCellDef="let row"> {{row.saddress}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> act </th>
                        <td mat-cell *matCellDef="let row">
                            <div>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" routerLink="/student/edit/{{row._id}}">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                <button mat-mini-fab style="margin-left: 3px;" (click)="deletedata(row._id)">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns">act</tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            </div>
        </div>
    </div>
</div>
<div class="col"></div>