<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row._id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher Name </th>
            <td mat-cell *matCellDef="let row"> {{row.tname}} </td>
        </ng-container>


        <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher Telephone </th>
            <td mat-cell *matCellDef="let row"> {{row.ttelephone}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> act </th>
            <td mat-cell *matCellDef="let row">
                <div>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" routerLink="/teacher/edit/{{row._id}}">
                        <mat-icon>edit</mat-icon>
                      </button>
                    <button mat-mini-fab style="margin-left: 3px;" (click)="deletedata(row._id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>