<div class="createteach">
    <div class="col-md-4" style="margin:auto">
        <div class="card">
            <div class="card-body">
                <form #Form="ngForm">
                    <div class="row">
                        <div class="col">
                            <h3 class="head">EDIT INFO</h3>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Teacher Name</mat-label>
                                <input [(ngModel)]="Selected.tname" name="tname" matInput placeholder="Input Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Teacher Telephone</mat-label>
                                <input matInput [(ngModel)]="Selected.ttelephone" name="ttelephone" placeholder="Input Phone Number">
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button mat-flat-button color="primary" (click)="submit(Form)">Submit</button>
                            <button mat-flat-button color="warn" class="float-right">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>