<div class="createteach">
    <div class="col-md-4" style="margin:auto">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col">
                            <h3 class="head">Teacher INFO</h3>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Teacher Name</mat-label>
                                <input formControlName="tname" matInput placeholder="Input Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Teacher Telephone</mat-label>
                                <input matInput placeholder="Input Phone Number" formControlName="ttelephone">
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <button mat-flat-button color="primary" (click)="submit(form)">Submit</button>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>