<div class="container">
    <div class="col"></div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col" id="head">
                            <h3>Student Info</h3>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label style="color: coral;">First Name</mat-label>
                                <input matInput formControlName="sfirstname">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label style="color: coral;">Last Name</mat-label>
                                <input matInput formControlName="slastname">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label style="color: coral;">Telephone</mat-label>
                                <input matInput formControlName="stelephone">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label style="color: coral;">Gender</mat-label>
                                <mat-select formControlName="sgender">
                                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                        {{gender.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field style="width: 95%;">
                                <mat-label style="color: coral;">Address</mat-label>
                                <input matInput formControlName="saddress" placeholder="Input address">
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button mat-raised-button color="primary" routerLink="/student/view" (click)="Submit(form)">Comfirm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>