<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <p>
                            CLASS
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/class/create">
                                <mat-icon style="padding-bottom: 10px;">add_circle</mat-icon>
                                <p>CREATE</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/class/view">
                                <mat-icon style="padding-bottom: 10px;">view_list</mat-icon>
                                <p>VIEW</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/class/edit/:id">
                                <mat-icon style="padding-bottom: 10px;">edit</mat-icon>
                                <p>EDIT</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fas fa-users-class"></i>
                        <p>
                            STUDENT
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/student/create">
                                <mat-icon style="padding-bottom: 10px;">add_circle</mat-icon>
                                <p>CREATE</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/student/view">
                                <mat-icon style="padding-bottom: 10px;">view_list</mat-icon>
                                <p>VIEW LIST</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/student/edit/:id">
                                <mat-icon style="padding-bottom: 10px;">edit</mat-icon>
                                <p>EDIT LIST</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <p>
                            TEACHER
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/teacher/create">
                                <mat-icon style="padding-bottom: 10px;">add_circle</mat-icon>
                                <p>CREATE</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/teacher/view">
                                <mat-icon style="padding-bottom: 10px;">view_list</mat-icon>
                                <p>VIEW</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/teacher/edit/:id">
                                <mat-icon style="padding-bottom: 10px;">edit</mat-icon>
                                <p>EDIT</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>